nav {
  display: flex;
  justify-content: end;
}


nav ul {
  list-style: none;
  padding: 10px;
  background-color: aquamarine;
}

.heading {
  height: 50vh;
  background-color: bisque;
  display: flex;
  align-items: center;
}

.heading h1 {
  margin-left: 5%;
  margin-bottom: 50px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 200px);
}

.about {
  grid-column: 2 / span 3;
  grid-row: 2;
  margin-right: 5%;
}